@import url("reset.css");
@import url("common.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap");

body {
	font-family: "Poppins", sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 2.08;
	color: #6C757D;
	/*background-color: rgb(212, 243, 200);*/
}
.wrapper {
	display: flex;
	flex-direction: column;
	overflow: clip;
	min-height: 100%;
}
.wrapper > main {
	flex-grow: 1;
}
img {
	max-width: 100%;
}

/*--------------- Container ----------------*/

[class*="__container"] {
	max-width: 1270px;
	padding: 15px 15px;
	margin: 0 auto;
}

/*------------------------------------------*/

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 100px;
	padding: 5px 15px;
	column-gap: 25px;
}
.header__logo {
}
.header__menu {

}
.menu {
}
.menu__items {
}
.menu__item {
}
.menu__link {
}
.menu__link_arrow::after {
	content: "";
	background: url("../img/icons/arrow.svg") 0 0 no-repeat;
	width: 8px;
	height: 5px;
	align-self: center;
	transition: transform 0.3s;
}
.active {
	color: #495057;
}
.active::before {
	width: 100%;
	left: 0;
}
.header__buttons {
	display: flex;
	column-gap: 25px;
	row-gap: 5px;
	flex-wrap: wrap;
}
.buttons-header {
	align-self: center;
}
.sign-in {
	color: rgba(73, 80, 87, 0.50);
	padding-bottom: 5px;
}
.get-started {
	color: #F8F9FA;
	padding: 10px 16px;
	border-radius: 20px;
	background-color: #DDBEA9;
	transition: background-color 0.3s;
}

@media (max-width: 767.98px) {
	.header__container {
		min-height: 50px;
	}
}
@media (max-width: 620px) {
	.header__buttons {
		column-gap: 15px;
	}
	.header__get-started {
		padding: 5px;
	}
	.menu-items {
		column-gap: 15px;
	}
}
@media (max-width: 380px) {
	.header__logo {
		font-size: 15px;
	}
	.menu__item {
		flex: 0 0 100%;
	}
}

/*------------------------------------------*/

.page {
}
.page__container {
}
.page__main	{
}
.main__body {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	padding: 192px 15px 40px 15px;
	z-index: 2;
}
.main__author {
}
.main__title {
}
.title__link {
}
.main__slide {
}
.slide {
}
.slide__item {
}
.main__image {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.main__image img {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/*------------------------------------------*/

.page__body {
	max-width: 1058px;
	padding: 100px 15px 103px 15px;
	margin: 0 auto;
}
.page__content {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	column-gap: 30px;
	margin-bottom: 60px;
}
.page__topics {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	max-width: 393px;
	flex: 0 0 50%;
}
.topics {
}
.topics__title {
	color: #212529;
	font-size: 25px;
	font-weight: 700;
	line-height: 1.6; 
}
.topics__list {
}
.topics__item {
	color: #495057;
}
.topics__item:not(:last-child) {
	margin-bottom: 10px;
}
.topics__search {
	display: flex;
	column-gap: 10px;
}
.topics__search::before {
	content: "";
	background: url("../img/icons/search.svg")0 0 no-repeat;
	width: 12px;
	height: 12px;
	align-self: center;
}
.page__cards {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	flex: 1 0 50%;
}
.cards {
}
.cards__item {
	display: flex;
	column-gap: 31px;
	align-items: center;
	row-gap: 20px;
}
/*.cards__image {
	position: relative;
	overflow: hidden;
	padding-bottom: 69.686%;
}
.cards__image img {
	transition: scale 0.5s;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}**/
.cards__image {
}
.cards__image img {
	transition: scale 0.5s;
}
.cards__body {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	max-width: 287px;
	align-self: center
}
.cards__date {
	font-weight: 300;
	line-height: 1.66; 
}
.cards__title {
	color: #212529;
	font-size: 16px;
	line-height: 1.56;
}
.cards__text {
	display: flex;
	flex-direction: column;
	row-gap: 15px;
	font-weight: 300;
	line-height: 1.66;
}
.cards__text::after {
	content: "";
	border-bottom: 1px solid #E5E5E5;;
}
.cards__bottom {
	display: flex;
}
.cards__author {
	flex-grow: 1;
	font-weight: 300;
	line-height: 1.66;
}
.cards__likes {
	display: flex;
	column-gap: 5px;
	font-weight: 300;
	line-height: 1.66;
}
.cards__likes::before {
	content: "";
	background: url("../img/icons/like.svg") 0 0 no-repeat;
	align-self: center;
	width: 12.687px;
	height: 11.125px;
}
.page__pages {
	display: flex;
	justify-content: center;
	column-gap: 15px;
}
.pages__item {}
.pages__link {}

@media (max-width: 1023px) {
	.page__topics {
	flex: 0 0 100%;
	justify-content: center;
	}
	.page__cards {
		flex: 0 0 100%;
	}
}
@media (max-width: 600px) {
	.cards__item  {
	flex-wrap: wrap;
	}
}
@media (max-width: 430px) {
	.page__body {
		padding: 20px 15px;
	}
	.page__content {
		margin-bottom: 20px;
	}
	.page__topics {
		row-gap: 15px;
	}
	.topics__title {
		font-size: 20px;
	}
}

/*------------------------------------------*/

.footer {
	background-color: #212529;
	padding-top: 80px;
}
.footer__container {
}
.footer__top {
	display: flex;
	justify-content: space-between;
	column-gap: 10px;
	position: relative;
	margin-bottom: 80px;
}
.footer__top::after {
	content: "";
	border-bottom: 1px solid rgba(229, 229, 229, 0.20);
	width: 100%;
	position: absolute;
	top: 250%;
	left: 0;
}
.footer__logo {
	color: #F8F9FA;
}
.footer__menu {
}
.menu {
}
.menu__items {
}
.menu__item {
}
.menu__link {
}
.menu__link-color {
	color: rgba(248, 249, 250, 0.50);
}
.footer__social {
}
.footer__apps {
	display: flex;
	column-gap: 25px;
}
.footer__app {
}
.app__link {
	color: rgba(248, 249, 250, 0.50);
	transition: color 0.3s;
}
.footer__bottom {
	display: flex;
	justify-content: space-between;
	column-gap: 10px;
	color: rgba(248, 249, 250, 0.50);
	line-height: 1.66;
}
.footer__address {
}
.footer__rights {
}

@media (max-width: 767.98px) {
	.footer {
		padding-top: 40px;
	}
	.footer__container {
		min-height: 50px;
	}
}
@media (max-width: 550px) {
	.footer {
		padding-top: 20px;
	}
	.footer__logo {
		font-size: 15px;
	}
	.menu-items {
		column-gap: 15px;
	}
	.footer__apps {
		column-gap: 15px;
	}
}
@media (max-width: 470px) {
	.footer__top {
		margin-bottom: 40px;
	}
	.footer__top::after {
		content: "";
		top: 130%;
	}
}
@media (max-width: 380px) {
	.footer__top {
		margin-bottom: 20px;
	}
	.footer__top::after {
		content: "";
		top: 110%;
	}
}

/*------------------------------------------*/

@media (any-hover: hover) {
	.slide__link:hover {
		color: #DDBEA9;
	}
	.slide__item:hover .slide__link::before {
		background-color: #DDBEA9;
	}
	.menu__item:hover .menu__link_arrow::after {
		transform: rotate(180deg);
	}
	.menu__item:hover .hover-link::before {
		width: 100%;
		left: 0;
	}
	.pages__item:hover .hover-link::before {
		width: 100%;
		left: 0;
	}
	.buttons-header_hover:hover .hover-link::before {
		width: 100%;
		left: 0;
	}
	.menu__link:hover {
		color: #495057;
	}
	.get-started:hover {
		background-color: #a07559;
	}
	.menu__link-color:hover {
		color: rgba(254, 254, 255, 0.801);
	}
	.app__link:hover {
		color: rgba(254, 254, 255, 0.801);
	}
	.cards__image:hover img {
		scale: 1.1;
	}
	.cards__author:hover {
		text-decoration: underline;
	}
	.pages__item:hover .menu__link::before {
		width: 100%;
		left: 0;
	}
}